	<div class="footer">
		<div class="container container_smaller">
			<div class="row">
				<div class="col s4">
					<div class="footer__copy">
						© 2015 Action2Happy
					</div>
				</div>
				<div class="col s8">
					<div class="right-align">
						<div class="footer__soc">
							<a href="#"><i class="fa fa-facebook-square"></i>Фейсбук</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/main.js"></script>
</body>
</html>