	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col s2">
					<div class="footer__copy">
						© 2015 Action2Happy
					</div>
				</div>
				<div class="col s6">
					<div class="footer__nav">
						<a href="#">Справка</a>
						<a href="#">О проекте</a>
					</div>
				</div>
				<div class="col s4">
					<div class="right-align">
						<div class="footer__soc">
							<a href="#"><i class="fa fa-facebook-square"></i>Фейсбук</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/main.js"></script>