<div class="header">
	<button class="btn-nav waves-effect waves-dark js-sidebar-trigger" type="button">
		<i></i>
	</button>
	<div class="container">
		<div class="row">
			<div class="col s3">
				<a href="#" class="logo">
					<img src="img/logo.png" alt="action happy">
				</a>
			</div>
			<div class="col s6">
				<ul class="nav">
					<li class="nav__item has-dropdown is-active">
						<a class="nav__link dropdown-button" href="#" data-hover="true" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown1'>Мотиваторы</a>
						<ul id='dropdown1' class='dropdown-content'>
						    <li class="has-dropdown">
						    	<a href="#" class=" dropdown-button" data-hover="true" href="#" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown12'>Кто я есть</a>
						    	<ul id='dropdown12' class='dropdown-content'>
						    	    <li>
						    	    	<a href="#" href="#">Кто я есть</a>
						    	    </li>
						    	    <li><a href="#">Создание настроения</a></li>
						    	</ul>
						    </li>
						    <li class="has-dropdown">
						    	<a href="#" class=" dropdown-button" data-hover="true" href="#" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown13'>Создание настроения</a>
						    	<ul id='dropdown13' class='dropdown-content'>
						    	    <li>
						    	    	<a href="#" href="#">Кто я есть</a>
						    	    </li>
						    	    <li><a href="#">Создание настроения</a></li>
						    	</ul>
						    </li>
						</ul>
					</li>
					<li class="nav__item has-dropdown">
						<a class="nav__link dropdown-button" href="#" data-hover="true" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown2'>Тесты</a>
						<ul id='dropdown2' class='dropdown-content'>
						    <li class="has-dropdown">
						    	<a href="#" class=" dropdown-button" data-hover="true" href="#" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown21'>Кто я есть</a>
						    	<ul id='dropdown21' class='dropdown-content'>
						    	    <li>
						    	    	<a href="#" href="#">Кто я есть</a>
						    	    </li>
						    	    <li><a href="#">Создание настроения</a></li>
						    	</ul>
						    </li>
						    <li class="has-dropdown">
						    	<a href="#" class=" dropdown-button" data-hover="true" href="#" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown22'>Создание настроения</a>
						    	<ul id='dropdown22' class='dropdown-content'>
						    	    <li>
						    	    	<a href="#" href="#">Кто я есть</a>
						    	    </li>
						    	    <li><a href="#">Создание настроения</a></li>
						    	</ul>
						    </li>
						</ul>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Дневник</a>
					</li>
					<li class="nav__item">
						<a class="nav__link" href="#">Общение</a>
					</li>
				</ul>
			</div>
			<div class="col s3">
				<a href="#" class="notific waves-effect waves-dark">
					<i class="fa fa-bell"></i>
					<span>37</span>
					Мои уведомления
				</a>
			</div>
			
		</div>
	</div>
</div>