<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=1024">
<link rel="stylesheet" media="all" href="css/screen.css" >
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,700,900,400italic,500&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:800italic,600italic,400' rel='stylesheet' type='text/css'>