<div class="sidebar js-sidebar">
	<div class="sidebar__in">
		<div class="user">
			<!-- <div class="user__img">
				<a href="#" class="avatar">
					<img src="https://unsplash.it/50/50?image=650" alt="">
					<span class="status"><img src="img/silver.png" width="21" alt=""></span>
				</a>
			</div> -->
			<div class="user__main">
				<!-- <span>Здравствуйте:</span> -->
				<ul>
					<!-- <li class="user__name"><a href="#">Константин Константинов</a></li> -->
					<li class="user__logout"><a href="#modal1"  class="js-modal-trigger" href=""><i class="fa fa-sign-in"></i>Войти</a></li>
				</ul>
			</div>
		</div>
		<div class="menu">
			<div class="menu__title">Личное</div>
			<ul class="collapsible collapsible_sidebar" data-collapsible="accordion">
				<li>
					<a class="collapsible-header waves-effect waves-dark js-modal-trigger" href="#modal1">Уведомления <span>(32)</span></a>
					<!-- <div class="collapsible-body">
						<ul>
							<li class="collapsible-header"><a href="#">Личные настройки</a></li>
							<li class="collapsible-header"><a href="#">Моя статистика</a></li>
							<li class="collapsible-header"><a href="#">Мой статус</a></li>
						</ul>
					</div> -->
				</li>
				<li>
					<a class="collapsible-header waves-effect waves-dark js-modal-trigger" href="#modal1">Дневник <span>(3)</span></a>
					<!-- <div class="collapsible-body">
						<ul>
							<li class="collapsible-header"><a href="#">Личные настройки</a></li>
							<li class="collapsible-header"><a href="#">Моя статистика</a></li>
							<li class="collapsible-header"><a href="#">Мой статус</a></li>
						</ul>
					</div> -->
				</li>
				<li>
					<a class="collapsible-header waves-effect waves-dark js-modal-trigger" href="#modal1">Друзья <span>(12)</span></a>
					<!-- <div class="collapsible-body">
						<ul>
							<li class="collapsible-header"><a href="#">Личные настройки</a></li>
							<li class="collapsible-header"><a href="#">Моя статистика</a></li>
							<li class="collapsible-header"><a href="#">Мой статус</a></li>
						</ul>
					</div> -->
				</li>
				<li>
					<a class="collapsible-header waves-effect waves-dark js-modal-trigger" href="#modal1">Профиль</a>
					<!-- <div class="collapsible-body">
						<ul>
							<li class="collapsible-header"><a href="#">Личные настройки</a></li>
							<li class="collapsible-header"><a href="#">Моя статистика</a></li>
							<li class="collapsible-header"><a href="#">Мой статус <span class="status"><img src="img/premium.png" width="21" alt=""></span></a></li>
						</ul>
					</div> -->
				</li>
			</ul>
		</div>
		<div class="prof-progress">
			<div class="prof-progress__title">Ваш прогресс:</div>
			<a href="#">Подробнее</a>
			<div class="prof-progress__circle">
				<span><strong>24</strong>%</span>
				<i style="height: 24%"></i>
			</div>
		</div>
	</div>	
</div>