// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

html
	font-size: 62.5%
	+selection
		background: rgba(#000, .2) 
body
	+roboto
	font-size: 1.6rem
	line-height: 1.4
	+light
	color: #000 
	min-width: 1000px
	background: #727086 url(../img/bg.jpg) 0 0 repeat
	background-size: 100% auto
	&.has-open-sidebar
		.sidebar
			transform: translate3d(0,0,0)
		.btn-nav
			i
				background: none 
				&:before
					transform: translate3d(0,.6rem,0) rotate(45deg)
				&:after
					transform: translate3d(0,-.6rem,0) rotate(-45deg)
		.container_small
			transform: translate3d(9.3%,0,0)
			+r(1024)
				transform: translate3d(0,0,0)
.container
	+r(1280)
		max-width: 100%
		padding: 0 8rem 
	+r(1024)
		padding: 0 4rem
.container_small
	width: 946px
	transition: transform .3s
	transform: translate3d(0,0,0)
	+r(1280)
		padding: 0
	// +r(1279)
	// 	width: 100%
.container_smaller
	width: 750px 
	padding: 0
.valign
	text-align: center
.row_inline-blocks
	font-size: 0
	margin-bottom: 0
	> .col
		float: none
		padding: 1.5rem
		display: inline-block
		vertical-align: top

.pg-canvas
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 0
.out
	padding: 9.5rem 0 7.5rem 
	overflow: hidden
.main
	padding: 1.5rem 0 
.boxes-wrap
	text-align: right
	font-size: 0
.box
	position: relative
	text-align: left
	background: rgba(#fff, .9)
	border-radius: 3px
	box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25)
	&_graph
		min-height: 37rem
		+r(1180)
			min-height: 38rem
			height: auto
		+r(1024)
			min-height: 37rem
	&_progress	
		min-height: 22.2rem
		.box__top
			padding-right: 0
	&_content
		.box__in
			padding: 5rem 
	&_card
		.box__in
			padding: 2.5rem

	&_card-main
		.box__in
			padding: 3.5rem  
	&__in
		position: relative
		padding: 1.5rem 1.8rem 1.5rem 1.5rem
		+clr
	&__top
		position: relative
		padding: 0 12rem 0 6.5rem
		.mark
			position: absolute
			top: -0.8rem
			left: -0.8rem
			padding-left: 6.5rem
	&__action
		position: absolute
		right: 0
		top: 0
		
	&__footer
		+clr
		.btn
			float: right
			margin-top: 0.5rem
	&__term
		float: left
		text-align: center
		strong
			font-size: 2.1rem
			+bold
			display: block
		span
			font-size: 1.2rem
			font-style: italic
	.progress
		margin-top: 2.5rem
.mark
	position: relative
	+svg(badge,6,6)
	color: #fff 
	+opensans
	&_red
		+svgi(badge-red)
	&:before
		content: ""
		position: absolute
		left: 1.7rem
		top: 3.2rem
		width: 3rem
		height: 1px
		background: #fff
		transform: rotate(-45deg)  
	strong
		position: absolute
		left: 1.4rem
		top: 1.3rem
		font-size: 1.7rem
		+ebold
		font-style: italic
	span
		position: absolute
		bottom: 1.5rem
		right: 2.3rem
		font-size: 1rem
		+sbold
		font-style: italic
	&_small
		strong
			left: 1.6rem
			top: 1.2rem
			font-size: 2.1rem

.title
	font-size: 1.8rem
	+bold
	color: #000
	&_small
		font-size: 1.4rem
	&_big
		font-size: 2.4rem
	&_large
		font-size: 3rem
.title-info
	font-size: 2.4rem
	+light
.meta
	font-size: 1.2rem
	font-style: italic

.graph
	&__title
		margin-top: 5.5rem
		+light
		font-size: 1.4rem
		color: #000 
	&__canvas
		position: relative
		width: 100% !important
		height: auto !important
	&__radial
		position: relative
		margin-top: 3rem
		.graph__canvas
			margin-left: -9rem
			width: 113% !important
	&__list
		position: absolute
		right: 0
		top: 0
		text-align: center
		font-size: 1.2rem
		+bold
		li
			margin-bottom: 5px


.progress
	position: relative
	height: auto
	background: none 
	overflow: visible
	&_long
		.progress__counter
			li
				&.is-active
					&:before
						left: -0.1rem
	&__counter
		display: table
		margin-bottom: 1.2rem
		width: 100%
		font-size: 1.4rem
		+light
		text-align: center
		li
			display: table-cell
			position: relative
			z-index: 2
			vertical-align: middle
			&.is-active
				color: #fff
				+bold
				&:before
					content: "" 
					position: absolute
					z-index: -1
					top: -.7rem
					left: -.5rem
					+svg(drop,3.1,3.9)
	&__line
		position: relative
		height: 3rem
		z-index: 2
		line-height: 3.0rem
		text-align: center
		background-color: #e0e0e0
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25)
		font-size: 1.4rem
		+bold
		text-transform: uppercase
		color: #fff
		span
			position: absolute
			z-index: -1
			left: 0
			top: 0
			bottom: 0
			background: $success 

.article
	font-size: 1.6rem
	line-height: 1.4
	+light
	color: #000
	> p
		margin: 1.5rem 0 
	a
		color: $primary
		border-bottom: 1px solid 
		transition: color, border, .3s s
		&:hover
			color: $primary_h 
			border-bottom-color: transparent 



.post
	+clr
	&_fixed-height
		.post__text
			max-height: 11.3rem
			overflow: hidden
	.title
		+text-overflow
	&__media
		float: left
		max-width: 27rem
		margin-right: 2.5rem
		+shadow
		+tr(box-shadow .3s)
		&:hover
			+shadow-hover
		img
			display: block
			width: 100%
			height: auto
	&__main
		overflow: hidden
		.post__head
			margin-bottom: 3rem
	&__head
		display: table
		margin-bottom: 1rem
		width: 100%
	&__cell
		display: table-cell
		vertical-align: top
		text-align: right
		&:first-child
			padding-right: 2rem
			text-align: left
	&__text
		font-size: 1.4rem
		+light
		text-align: justify
		p
			margin: 1.5rem 0
			&:last-child
				margin-bottom: 0 
	&__footer
		margin-top: 1.5rem
		display: table
		width: 100%
		.post__cell
			vertical-align: middle
			&:last-child
				text-align: right
.meta
	font-size: 1.4rem
	+bold
	font-style: normal
	.fa, span
		display: inline-block
		vertical-align: baseline
	.fa
		margin-right: 1.3rem
		font-size: 1.8rem

.field-group
	white-space: nowrap
	text-align: right
	margin-bottom: 1rem
	font-size: 0
	.field
		display: inline-block
		vertical-align: middle
		margin-left: 1rem
		margin-bottom: 0 
		white-space: normal
.field
	margin-bottom: 1rem
	&_inline
		.field__title
			display: inline-block
			vertical-align: middle
			margin-right: 0.5rem
			font-size: 1.4rem
			+reg
			color: #000 
		.field__body
			display: inline-block
			vertical-align: middle
	&_small
		.field__body
			width: 85px
.input,
input.select-dropdown
	display: block
	border: 2px solid #000
	height: 4rem
	border-radius: 5px 
	width: 100%
	font-size: 1.6rem
	+light
	+roboto
	text-align: center
	color: #000 
	background: none 
	+tr(background .3s)
	+placeholder
		color: #232323 
	&:focus
		background: #fff 
.btn-wrap
	text-align: center
	margin-top: 1.6rem
.modal
	.title
		margin-bottom: 1.5rem
		text-align: center
	.modal-footer
		
		.soc-enter
			float: left
		.link-dots
			float: right
.soc-enter

	a, span
		display: inline-block
		vertical-align: middle
	span
		font-size: 1.4rem
		+bold
		margin-right: 2.3rem
	a
		margin-right: 0.3rem
		color: #5a5a5a
		&:hover
			.fa-facebook-square
				color: #3a5795
			.fa-twitter-square
				color: #2FC2EF
			.fa-google-plus-square
				color: #d73d32
	.fa
		transition: color .3s
		font-size: 1.8rem
.link-dots
	display: inline-block
	border-bottom: 1px dotted 
	font-size: 1.4rem
	color: #005d60
	transition: color .3s
	&:hover
		color: $primary 

.img
	display: block
	img
		display: block
		width: 100%
		height: auto
		+shadow
		border-radius: 5px 
		+tr(box-shadow .3s)
		&:hover
			+shadow-hover



.audio-nav
	+clr
	li
		float: left
		position: relative
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			height: 3.7rem
			width: 1px
			background: #000 
		&:first-child
			button
				padding-left: 0
			&:before
				display: none
		&:last-child
			button
				padding-right: 0
	button
		padding: 0 2.4rem
		height: 3.7rem
		line-height: 3.7rem
		background: none
		font-size: 2.4rem
		+reg
		+roboto
		white-space: nowrap
		+tr(color .3s)
		&:hover
			color: $primary 
		.fa
			margin-right: 1rem

.audio-nav_small
	button 
		font-size: 1.6rem
	.fa
		font-size: 1.8rem
		

.text
	font-size: 1.4rem
	+light
	line-height: 1.4
	text-align: justify
	p
		margin-bottom: 1.4rem
		&:last-child
			margin-bottom: 0

.checkbox
	label
		font-size: 1.4rem
		+reg
		color: #000
.question
	margin: 2.7rem 0 
	.title
		margin-bottom: 2.2rem

.container_settings
	width: 400px
	padding: 0
.checkbox-group
	margin: 1.5rem 0 2rem
	padding-bottom: 1.5rem
	border-bottom: 1px solid #000
	text-align: left

.settings
	margin-top: 3rem
	margin-bottom: -1rem
	.title
		margin: 1.5rem 0 



.btn-add
	background: none
	width: 13rem
	font-size: 1.4rem
	color: #000 
	white-space: nowrap
	+tr(color .3s)
	vertical-align: middle
	&:hover
		color: $primary 
	.fa, span
		display: inline-block
		vertical-align: middle

	.fa
		font-size: 2rem
	span
		white-space: normal
		padding-left: 0.5rem
		text-align: left
	
.select
	position: relative
	cursor: pointer
	font-size: 1.6rem
	text-align: center
	&.is-active
		.input
			background: #fff 
	select
		opacity: 0
	.input
		position: relative
		cursor: pointer
		&:after
			content: ""
			position: absolute
			right: 15px
			top: 50%
			margin-top: -3px
			width: 0px
			height: 0px
			border-style: solid
			border-width: 6px 4px 0 4px
			border-color: #000 transparent transparent transparent
.select__list
	position: absolute
	display: none
	left: 0
	right: 0
	top: 100%
	margin-top: 5px
	z-index: 100
	border: 2px solid #000
	max-height: 15rem
	overflow-x: hidden
	-webkit-border-radius: 5px 
	border-radius: 5px 
	overflow-y: auto
	background: #fff
	color: #000
	transition: background .3s 
	li
		padding: 1rem
		cursor: pointer
		line-height: 1
		&:hover
			background: $btn
			color: #fff 

.btn-group
	margin-top: 2.5rem

.motivator-title
	position: absolute
	top: 22%
	left: 0
	right: 0
	text-align: center
	span
		display: inline-block
		padding: .7rem 1.2rem
		font-size: 2.4rem
		color: #000
		+bold  
		background: rgba(#fff, .5)
		border-radius: 5px
.motivator-slogan
	display: inline-block
	padding: .7rem 2.8rem
	font-size: 4.8rem
	color: #000
	+bold  
	background: rgba(#fff, .5)
	border-radius: 5px
	
.ff
	.tabs 
		.tab
			font-weight: 300 