.footer
	position: fixed
	left: 0
	right: 0
	bottom: 0
	height: 6rem
	min-width: 1024px
	z-index: 10
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4)
	line-height: 6rem
	background: $secondary 
	font-size: 1.2rem
	+reg
	color: rgba(#fff, .5) 
	.container
		+r(1024)
			padding: 0 8rem
	a
		color: rgba(#fff, .5) 
		+tr(color .3s)
		&:hover
			color: #fff
	&__copy
		float: left
		width: 24.5rem
		//text-align: center
	&__nav
		a
			display: inline-block
			vertical-align: middle
			padding: 0 .4rem 
			
	&__soc
		i
			margin-right: 1rem
				
	.audio-nav
		text-align: center
		li
			float: none
			display: inline-block
			vertical-align: middle
			&:before
				background: rgba(#fff, .5)
				top: 1rem 
		button
			color: rgba(#fff, .5) 
			font-size: 1.2rem
			+reg
			&:hover
				color: #fff 














		