.header
	position: fixed
	top: 0
	right: 0
	left: 0
	z-index: 10
	background: $primary
	height: 8rem
	min-width: 1024px
	box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.17)
	.container
		+r(1024)
			padding: 0 8rem
.btn-nav
	position: absolute
	left: 0
	top: 0
	width: 8rem
	height: 8rem
	float: left
	background: none 
	background: $primary
	+tr(background .3s)
	&:hover
		background: $primary_h
	i
		position: absolute
		z-index: 2
		left: 50%
		top: 50%
		margin: -.15rem 0 0 -1.2rem 
		width: 2.4rem
		height: 0.2rem
		background: #fff  
		+tr(background .3s)
		&:before,
		&:after
			content: ""
			position: absolute
			left: 0
			width: 2.4rem
			height: 0.2rem
			+tr(transform .3s)
			background: #fff 
		&:before
			top: -0.6rem
		&:after
			bottom: -0.6rem
.logo
	display: block
	//width: 18.8%
	background: #006064
	height: 8rem
	+vertical
	box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.17)
	img
		display: inline-block
		max-width: 100%
		vertical-align: middle
.nav
	//float: left
	//padding-left: 2rem
	margin-left: -1.4rem
	font-size: 1.6rem
	+light  
	color: #fff
	+clr
	&__item
		float: left
		position: relative
		&.has-dropdown
			.nav__link
				&:after
					content: "\f107" 
					position: absolute
					bottom: 1rem
					left: 50%
					margin-left: -0.4rem
					+fa-icon
			&.is-active
				.nav__link
					+bold

	&__link
		display: block
		padding: 0 1.4rem 
		height: 8rem
		color: #fff 
		line-height: 8rem
		+tr(text-shadow .3s)
		&:hover
			text-shadow: 0 1px 1px rgba(#000,.3) 
	.dropdown-content
		//margin-top: 3px
		position: relative
		padding: 1rem 0 
		overflow: visible
		background: $secondary
		li
			//position: relative
			+tr(background .3s)
			a
				padding: 1rem 2rem
				font-size: 1.6rem
				+light
				color: #fff  
			&:hover
				background: $secondary_h 
			.dropdown-content

				left: 100% !important
				top: 0 !important
			&.has-dropdown
				> a
					padding-left: 4.5rem
					position: relative
					&:before
						+fa-icon
						content: "\f105"
						position: absolute
						left: 2rem
						top: 50%
						margin-top: -0.9rem 

.notific
	display: block
	//float: right
	//width: 20.3%
	background: $secondary
	height: 8rem
	line-height: 8.0rem 
	text-align: center
	font-size: 1.6rem
	+bold
	color: #fff 
	+tr(background .3s)
	box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.17)
	+r(1200)
		font-size: 0
	&:hover
		background: $secondary_h 
	span, 
	i
		display: inline-block
		vertical-align: middle
		+r(1279)
			font-size: 1.6rem
			margin-left: 1rem
	span
		margin-right: 1.8rem
		width: 2.4rem
		height: 2.4rem
		background: $btn
		border-radius: 50%  
		font-size: 1.4rem
		line-height: 2.4rem
		text-align: center
		color: #fff 
		












