.inner
	.out
		padding: 0
		position: relative
		height: 100%
	.footer
		background: none
		box-shadow: none 
		height: 5.7rem
		line-height: 5.7rem
.static-bg
	+cover
	.footer
		background: rgba(#000,.75) 
.panel
	position: fixed
	top: 0
	left: 0
	right: 0
	+clr
	height: 7.5rem
	line-height: 7.5rem
	&_footer
		top: auto
		bottom: 0 
	&__nav
		float: right
		font-size: 1.4rem
		+bold
		li
			display: inline-block
			margin-right: 1.5rem
			vertical-align: middle
		a
			color: #fff 
			&:hover
				span
					border-color: #fff 
		.fa
			margin-right: 0.5rem
		span
			+tr(border .3s)
			border-bottom: 1px solid transparent
.valign-wrapper
	padding: 8rem 0 
	height: 100%
	.valign
		width: 100%

.motivator
	.row_soc
		margin-top: 3rem
	.title_large
		margin: -1rem 0 .6rem
	.audio-nav
		margin-top: 10.5rem
	.audio-nav_small
		margin-top: 0
	&__footer
		margin: 2rem 0 0
		.soc-enter
			margin-top: 1rem		
	&__soc
		position: absolute
		left: 3.5rem
		bottom: 3.5rem
	.title-info
		margin-bottom: 2rem
	.btn
		+ .link-dots
			margin-left: 1rem
		+ .btn
			margin-left: 0.7rem
	.soc-enter_mt
		margin-top: 1rem
	.progress 
		margin-bottom: 3rem
	&_stat
		position: relative
		padding-top: 8.5rem
		.title_big
			position: absolute
			top: -1rem
			left: 0
		.title_small
			position: absolute
			top: 4rem
			left: 0
	.tabs-wrap
		margin-top: 2rem
.stat
	font-size: 1.4rem
	+bold
	li
		margin-bottom: 1rem
	span
		display: inline-block
		width: 50%
		+light
		width: 32%

.stat-info
	font-size: 1.5rem
	+reg
	margin-top: 2rem

.messages-wrap
	margin: 2rem 0 
.message
	position: relative
	margin: 1rem 0 
	padding: 2rem 7rem
	background: #fff
	+shadow
	min-height: 6rem
	border-radius: 3px 
	font-size: 1.4rem
	+reg
	a
		color: $primary 
		+tr(color .3s)
		&:hover
			color: $primary_h 
	&__img
		position: absolute
		left: 1rem
		top: 50%
		margin-top: -2.25rem
		height: 4.5rem
		width: 4.5rem
		border: 3px solid $primary
		border-radius: 50% 
		text-align: center
		line-height: 4.5rem
		&.is-empty-img
			background: #efefef 
		img
			display: block
			width: 100%
			height: auto
			-webkit-border-radius: 50% 
			border-radius: 50% 
		.fa
			position: absolute
			left: 0
			right: 0
			bottom: 0.1rem
			font-size: 3.7rem
			color: #ccc 
	&__remove
		position: absolute
		right: 1rem
		top: 50%
		margin-top: -2rem
		width: 4rem
		height: 4rem
		line-height: 1
		background: none 
		+tr(color .3s)
		color: #000 
		.fa
			vertical-align: middle
			font-size: 1.5rem
		&:hover
			color: $btn 
	&:hover
		+shadow-hover




