.sidebar
	position: fixed
	left: 0
	top: 8rem
	bottom: 6rem
	width: 24.5rem
	background: $primary 
	box-shadow: inset -1rem -1rem 1rem rgba(0,0,0,.06)
	transform: translate3d(-100%,0,0)
	+tr(transform .3s)
	z-index: 9
	// &:before
	// 	content: ""
	// 	position: absolute
	// 	top: 0
	// 	left: 0
	// 	right: 1.6rem
	// 	height: 1rem
	// 	background: $primary  
	&__in
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		overflow-y: auto
		overflow-x: hidden
.user
	padding: 2.8rem 1.5rem 1.5rem 2rem
	color: #fff
	font-size: 1.4rem
	&_info
		padding: 0 
		text-align: center
		.avatar
			margin: 0 auto 
		.user__name
			font-size: 2rem
			+bold
			color: #000 
	&__img
		float: left
		position: relative
		margin-right: 2rem
		.status
			position: absolute
			left: 0
			bottom: 0
			width: 2.1rem

	&__main
		overflow: hidden
	&__name
		margin: 0.3rem 0
		+text-overflow
	&__logout
		.fa
			margin-right: 1.1rem
			font-size: 1.6rem
	a
		color: #fff 
		+bold
		+tr(color .3s)
		&:hover
			text-shadow: 0 1px 1px rgba(#000, .3) 
.avatar
	display: block
	border: 3px solid #fff
	width: 5.6rem
	height: 5.6rem
	border-radius: 50%
	overflow: hidden
	img
		display: block
		width: 100%
		border-radius: 50% 
	&_big
		width: 8rem
		height: 8rem

.menu
	padding: 2rem 0 1.5rem
	background: $secondary 
	box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.17)
	&__title
		margin-bottom: 2.4rem
		padding-left: 2rem
		font-size: 1.8rem
		color: #fff
		text-transform: uppercase
		+bold 
	.collapsible
		margin: 0
		background: none 
		border: 0
		box-shadow: none
		&-header
			padding: .3rem 1rem .3rem 4.5rem
			position: relative
			font-size: 1.6rem
			color: #fff
			background: none 
			border: 0
			+tr(background .3s)
			&:hover
				background: $secondary_h 
			&:before
				content: "\f105"
				+fa-icon
				position: absolute
				left: 2rem
				top: .8rem
				color: #fff
			&.active
				+bold
			a
				color: #fff 
				display: inline-block
				position: relative
				.status
					position: absolute
					right: -3rem
					top: 50%
					margin-top: -10px
			span
				+bold
		&-body
			border: 0 
			padding-left: 3.3rem

.prof-progress
	padding: 2rem 
	position: relative
	&__title
		font-size: 1.8rem
		color: #fff
		+bold
	a
		display: inline-block
		border-bottom: 1px solid 
		line-height: 1
		font-size: 1.4rem
		color: #fff
		font-style: italic 
		+tr(border .3s)
		&:hover
			border-color: transparent 
	&__circle
		position: absolute
		right: 2.5rem
		top: 2rem
		width: 5.1rem
		height: 5.1rem
		text-align: center
		background: #2c1c1c
		color: #ffb400 
		border: 3px solid
		overflow: hidden
		border-radius: 50% 
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.75)
		+vertical
		span
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			font-size: 1.4rem
			line-height: 4.5rem
			text-align: center
		i
			display: inline-block
			width: 100%
			vertical-align: bottom
			background: #ffb400 

