$primary: #0097a7
$primary_h: darken($primary, 5%)
$secondary: #006064
$secondary_h: darken($secondary, 5%)
$btn: #ff5722
$success: #00c853
=roboto
	font-family: 'Roboto', Arial, Helvetica, sans-serif
=opensans
	font-family: 'Open Sans', Arial, Helvetica, sans-serif
=thin
	font-weight: 100 
=light
	font-weight: 300 
=reg
	font-weight: 400  
=sbold
	font-weight: 600 
=bold
	font-weight: 700 
=ebold
	font-weight: 900 
=shadow
	box-shadow: 0 1px 9px rgba(0, 0, 0, 0.5)
=shadow-hover
	box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15)
=icon
	font-family: 'icomoon'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1

=fa-icon
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	display: inline-block
	font: normal normal normal 14px/1 FontAwesome // shortening font declaration
	font-size: inherit // can't have font-size inherit on line above, so need to override
	text-rendering: auto // optimizelegibility throws things off #1094
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale