// shared styles
.btn, .btn-flat {
  border: none;
  display: inline-block;
  height: $button-height;
  line-height: $button-line-height;
  // margin-bottom: 15px;
  outline: 0;
  padding: 0 1.2rem;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
}
// Disabled shared style
.btn.disabled, .btn-floating.disabled, .btn-large.disabled, .btn:disabled, .btn-large:disabled, .btn-floating:disabled {
  background-color: $button-bg-color-disabled !important;
  box-shadow: none;
  color: $button-color-disabled !important;
  cursor: default;
  * {
    pointer-events: none;
  }

  &:hover {
    background-color: $button-bg-color-disabled;
    color: $button-color-disabled;
  }
}
// Shared icon styles
.btn, .btn-floating, .btn-large, .btn-flat {
  i {
    font-size: $button-font-size-shared;
    line-height: inherit;
  }
}

// Raised Button
.btn {
  text-decoration:none;
  min-width: 105px;
  text-align: center;
  color: #fff;
  background-color: $button-color;
  text-align: center;
  letter-spacing: .5px;
  font-size: 1.4rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  @include transition(.2s ease-out);
  cursor: pointer;

  &:hover {
    background-color: lighten($button-color, 5%);
    @extend .z-depth-1-half;
  }
}
.btn_border {
  background: none;
  border: 3px solid $button-color;
  color: $button-color;
  line-height: 30px;
  &:hover {
    border-color: darken($button-color, 5%);
    background: none;
  } 
}
.btn_success {
  background: #00c853;
  &:hover {
    background: lighten(#00c853, 5%);
  } 
}
.btn_cancel {
  border-color: #bcbcbc; 
  color: #bcbcbc;
  &:hover {
    border-color: darken(#bcbcbc, 5%);
    background: none;
  } 
}
// Floating button
.btn-floating {
  display: inline-block;
  color: $button-color-raised;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: $button-floating-size;
  height: $button-floating-size;
  line-height: $button-floating-size;
  padding: 0;
  background-color: $button-color;
  border-radius: 50%;
  @extend .z-depth-1;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;

  i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: $button-color-raised;
    font-size: $button-large-icon-font-size;
    line-height: $button-floating-size;
  }

  &:hover {
    @extend .z-depth-1-half;
  }
  &:before {
    border-radius: 0;
  }
  &.btn-large {
    width: $button-floating-size * 1.5;
    height: $button-floating-size * 1.5;
    i{
      line-height: $button-floating-size * 1.5;
    }
  }

}
// button fix
button.btn-floating {
  border: none;
}

// Fixed Action Button
.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;

  ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;

    li {
      margin-bottom: 15px;
    }

    a.btn-floating {
      opacity: 0;
    }
  }
}

// Flat button
.btn-flat {
  box-shadow: none;
  background-color: transparent;
  color: $button-color-flat;
  cursor: pointer;

  &.disabled {
    color: lighten(#999, 10%);
    cursor: default;
  }
}

// Large button
.btn-large {
  @extend .btn;
  height: $button-height * 1.5;
  line-height: 56px;

  i {
    font-size: $button-large-icon-font-size;
  }
}

// Block button
.btn-block {
  display: block;
}
