.modal {
  @extend .z-depth-4;

  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 0;
  max-height: 90%;
  width: 585px;
  margin: auto;
  overflow-y: auto;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  will-change: top, opacity;

  @media #{$medium-and-down} {
   width: 80%;
  }

  h1,h2,h3,h4 {
    margin-top: 0;
  }

  .modal-content {
    padding: 3rem 4.7rem;
  }
  .modal-close {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 1rem;
    top: 1rem;
    background: none;
    font-size: 1.5rem;
    color: 000;  
    cursor: pointer;
    transition: color .3s;
    &:hover {
      color: #0097a7; 
    }
  }

  .modal-footer {
    border-radius: 0 0 5px 5px;
    padding: 0 4rem 3rem;
    width: 100%;
    overflow: hidden;
    .btn, .btn-flat {
      float: right;
      margin: 6px 0;
    }
  }
}
.lean-overlay {
    position: fixed;
    z-index:999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;

    will-change: opacity;
}

// Modal with fixed action footer
.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;

  .modal-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  .modal-footer {
    border-top: 1px solid rgba(0,0,0,.1);
    position: absolute;
    bottom: 0;
  }
}

// Modal Bottom Sheet Style
.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}
