.tabs {
  @include flexbox();
  position: relative;
  border-top: 1px solid #f2f2f2; 
  border-bottom: 1px solid #f2f2f2;
  margin: 3rem 0 3.5rem;
  width: 100%;
  white-space: nowrap;
  
  .tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 5.2rem;
    height: 5.2rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .8px;
    width: 15%;
    font-size: 1.6rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;
    a {
      color: #000;
      display: block;
      width: 100%;
      height: 100%;
      @include transition( color .28s ease);
      &:hover {
        color: #0097a7;
      }
      &.active {
        font-weight: bold;
        &:hover {
          color: #000; 
        } 
      }
    }

    &.disabled a {
      color: lighten($tabs-text-color, 20%);
      cursor: default;
    }
  }
  .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #000;
    will-change: left, right;
  }
}
.tabs-wrap {
  border-bottom: 1px solid #E2E1E1 
}
.tabs .tab { padding: 0; }
.tabs_small {
    border: 0;
    margin: 0;
  .tab {
      height: 4rem;
      line-height: 4rem;
      //width: auto;
    a {
      text-transform: none;
      font-weight: 300; 
    }
  }
}
